.map-page {
  display: flex;
  height: calc(100vh - 90px);
}

.sidebar {
  width: 320px;

  background: white;

  padding: 20px;

  overflow-y: auto;

  border-right: 1px solid #ddd;

  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.08);
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar h3 {
  margin: 20px 0 10px;
}

.sidebar input {
  width: 100%;

  padding: 10px;

  margin-bottom: 20px;
}

.sidebar button {
  width: 100%;

  padding: 10px;

  margin-bottom: 10px;

  cursor: pointer;
}

.map-container {
  flex: 1;
}

.leaflet-container {
  width: 100%;

  height: 100%;
}
